body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0;
    min-height: 100vh;
    background: white;
}

.top-section {
    background: url("../images/william_morris.webp");
    background-size: cover;
    font-family: 'Modak', sans-serif;
    position: fixed;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 50%;
}

.top-section h3, .top-section h1 {
    font-weight: 400;
    margin: 0;
}

.top-section h3 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.07em;
    text-shadow:
    5px 5px 0px rgba(0, 0, 0, 0.22),  /* Sombra hacia abajo-derecha */
    -5px -5px 0px rgba(0, 0, 0, 0.22), /* Sombra hacia arriba-izquierda */
    -5px 5px 0px rgba(0, 0, 0, 0.22),  /* Sombra hacia abajo-izquierda */
    5px -5px 0px rgba(0, 0, 0, 0.22);
}

.top-section h1 {
    font-size: 96px;
    line-height: 145px;
    letter-spacing: 0.05em;
    text-shadow:
    14px 14px 0px rgba(0, 0, 0, 0.22),  /* Sombra hacia abajo-derecha */
    -14px -14px 0px rgba(0, 0, 0, 0.22), /* Sombra hacia arriba-izquierda */
    -14px 14px 0px rgba(0, 0, 0, 0.22),  /* Sombra hacia abajo-izquierda */
    14px -14px 0px rgba(0, 0, 0, 0.22);
}

.bienvenida {
    position: absolute;
    bottom: 50px
}

img.user-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.ucsm-logo {
    background-color: #34C759;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
}

.ucsm-logo img {
    height: 45px;
    width: 140px;
}

.greeting {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.middle-section-scroll {
    outline: 10px solid rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    position: relative;
    background: white;
    z-index: 1;
    margin-top: 21%;
    overflow-y: auto;
    padding-bottom: 3em;
}

.middle-section {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 13px;
    text-align: center;
}

.middle-section h1 {
    font-size: 2em;
    margin-bottom: .5em;
    margin-top: .5em;
}

.attendance {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.attendance-group {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.attendance-text {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.attendance-count,
.student-code {
    font-size: 32px;
    min-width: 85px;
    max-width: 280px;
    margin: 10px auto;
    padding: 20px 0;
    background: #e0e0e0;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.code-text {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.student-code {
    padding: 10px 0;
}

.QR-text {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.QR-code {
    text-align: center;
    margin: 0;
    height: 37%;
    margin-bottom: 2em;
}

.QR-code img {
    width: 150px;
    height: 150px;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.button {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.button img {
    width: 35px;
    height: 45px;
    margin-bottom: 5px;
}

.button svg {
    width: 45px;
    height: 50px;
}

.button.exit-button {
    color: #A52019;
}

.left-button a,
.center-button a,
.right-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Para pantallas más pequeñas, como tabletas */
@media (max-width: 768px) {
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .container {
        margin: 0;
    }

    .top-section{
        height: 45%;
    }

    .greeting {
        font-size: 20px;
    }

    .student-code {
        width: 90%;
    }

    .middle-section-scroll{
        margin-top: 363px;
        overflow-y: auto;
    }

    .QR-code img {
        width: 190px;
        height: 190px;
    }

    .bottom-section {
        display: flex;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
    }
    
    .button {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        text-align: center;
        display: block;
    }
    
    .button img {
        width: 35px;
        height: 45px;
        margin-bottom: 5px;
    }
}

/* Para pantallas muy pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
    .container {
        margin: 0px;
    }

    .top-section{
        height: 51%;
    }

    .greeting {
        font-size: 22px;
    }

    .student-code {
        width: 100%;
    }

    .middle-section-scroll{
        margin-top: 100%;
        overflow-y: auto;
    }

    .QR-code img {
        width: 280px;
        height: 280px;
    }

    .bottom-section {
        display: flex;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
    }
    
    .button {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        text-align: center;
        display: block;
    }
    
    .button img {
        width: 35px;
        height: 45px;
        margin-bottom: 5px;
    }
}

@media (max-width: 800px) {
    .middle-section-scroll{
        margin-top: 92%;
        overflow-y: auto;
    }
}

@media (max-height: 880px) {
    .top-section{
        height: 52%;
    }
}

@media (max-height: 804px) {
    .top-section{
        height: 53%;
    }
    .middle-section-scroll {
        margin-top: 106%;
        overflow-y: auto;
    }
}

@media (max-height: 780px) {
    .top-section{
        height: 66%;
    }
}