{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ponencias.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Francois+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Ponencias</title>
</head>
<body>
    <header class="top-section">
        <div class="ucsm-logo">
            <img src="{% static 'images/ucsm_logo_blanco.webp' %}" alt="UCSM Logo">
        </div>
        <h1>BIENVENIDO</h1>
    </header>

    <main class="middle-section-scroll">
        <div class="middle-section">
            <section class="title-section">
                <p class="title-ponencias">P O N E N C I A S</p>
            </section>
            <div class="card-scroll">
                {% for ponencia in ponencias %}
                    {% if ponencia.idbloque.iddia.fecha|date:"d/m/Y" == fecha_actual %}
                        <div class="card">
                            <div class="card-content">
                                <h3>{{ponencia.idbloque.idponencia}}</h3>
                                <span>{{ponencia.idbloque.idponencia.idponente}}</span>
                                <span >LUGAR: {{ponencia.idbloque.idubicacion}}</span>
                                <span class="time">HORA: {{ponencia.idbloque.horainicio}} - {{ponencia.idbloque.horafin}}</span>
                                <span class="day">DIA: {{ponencia.idbloque.iddia.fecha|date:"d/m/Y"}}</span>
                            </div>
                            <img src="{% static 'images/perfilponente.png' %}" alt="Speaker Image" class="speaker-image">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
    <div class="bottom-section">
        <div class="left-button">
            <a class="button profile-button" href="{% url 'Participante' participante.codparticipante %}">
                <img src="{% static 'images/perfil.png' %}" alt="Perfil Icon">Perfil
            </a>
        </div>
        <div class="center-button">
            <a class="button presentations-button">
                <img src="{% static 'images/ponencias.png' %}" alt="Ponencias Icon">Ponencias
            </a>
        </div>
        <div class="right-button">
            <a href="{% url 'SalirParticipante' %}" class="button exit-button" href="#">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"  preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(15.000000,512.000000) scale(0.050000,-0.050000)" fill="#A52019" stroke="none"> <path d="M3380 10042 l0 -202 -780 0 -780 0 0 -3960 0 -3960 290 0 290 0 5 3675 5 3675 480 0 480 0 5 -4017 5 -4017 48 12 c27 7 326 62 665 123 340 61 991 177 1447 259 457 82 1006 181 1220 219 215 39 397 71 405 71 8 0 15 1717 15 3817 l0 3816 -415 75 c-439 79 -1359 245 -2565 462 -401 73 -750 137 -775 143 -44 11 -45 9 -45 -191z m812 -4052 c92 -59 141 -288 86 -396 -110 -214 -325 -205 -409 15 -99 261 116 515 323 381z"/></g>
                </svg>
                Salir
            </a>
        </div>
    </div>
</body>
</html>
